In [3]:
import pandas as pd

df=pd.read_csv(r"C:\Users\ASUS\Documents\DMV_praticals\Datasets\telecom_customer_churn (1).csv");
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              3166 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

In [5]:
df.isnull().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges     682
Multiple Lines                        682
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download              1526
Online Security                      1526
Online Backup                        1526
Device Protection Plan               1526
Premium Tech Support                 1526
Streaming TV                         1526
Streaming Movies                     1526
Streaming Music                      1526
Unlimited Data                       1526
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [7]:
df.dropna(inplace=True);

In [9]:
df.isnull().sum()

Customer ID                          0
Gender                               0
Age                                  0
Married                              0
Number of Dependents                 0
City                                 0
Zip Code                             0
Latitude                             0
Longitude                            0
Number of Referrals                  0
Tenure in Months                     0
Offer                                0
Phone Service                        0
Avg Monthly Long Distance Charges    0
Multiple Lines                       0
Internet Service                     0
Internet Type                        0
Avg Monthly GB Download              0
Online Security                      0
Online Backup                        0
Device Protection Plan               0
Premium Tech Support                 0
Streaming TV                         0
Streaming Movies                     0
Streaming Music                      0
Unlimited Data                       0
Contract                             0
Paperless Billing                    0
Payment Method                       0
Monthly Charge                       0
Total Charges                        0
Total Refunds                        0
Total Extra Data Charges             0
Total Long Distance Charges          0
Total Revenue                        0
Customer Status                      0
Churn Category                       0
Churn Reason                         0
dtype: int64

In [17]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [25]:
df.dtypes

Customer ID                           object
Gender                                object
Age                                    int64
Married                               object
Number of Dependents                   int64
City                                  object
Zip Code                               int64
Latitude                             float64
Longitude                            float64
Number of Referrals                    int64
Tenure in Months                       int64
Offer                                 object
Phone Service                         object
Avg Monthly Long Distance Charges    float64
Multiple Lines                        object
Internet Service                      object
Internet Type                         object
Avg Monthly GB Download              float64
Online Security                       object
Online Backup                         object
Device Protection Plan                object
Premium Tech Support                  object
Streaming TV                          object
Streaming Movies                      object
Streaming Music                       object
Unlimited Data                        object
Contract                              object
Paperless Billing                     object
Payment Method                        object
Monthly Charge                       float64
Total Charges                        float64
Total Refunds                        float64
Total Extra Data Charges               int64
Total Long Distance Charges          float64
Total Revenue                        float64
Customer Status                       object
Churn Category                        object
Churn Reason                          object
dtype: object

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 681 entries, 2 to 7039
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        681 non-null    object
 1   Gender                             681 non-null    object
 2   Age                                681 non-null    int64
 3   Married                            681 non-null    object
 4   Number of Dependents               681 non-null    int64
 5   City                               681 non-null    object
 6   Zip Code                           681 non-null    int64
 7   Latitude                           681 non-null    float64
 8   Longitude                          681 non-null    float64
 9   Number of Referrals                681 non-null    int64
 10  Tenure in Months                   681 non-null    int64
 11  Offer                              681 non-null    object
 12  Phone Service                      681 non-null    object
 13  Avg Monthly Long Distance Charges  681 non-null    float64
 14  Multiple Lines                     681 non-null    object
 15  Internet Service                   681 non-null    object
 16  Internet Type                      681 non-null    object
 17  Avg Monthly GB Download            681 non-null    float64
 18  Online Security                    681 non-null    object
 19  Online Backup                      681 non-null    object
 20  Device Protection Plan             681 non-null    object
 21  Premium Tech Support               681 non-null    object
 22  Streaming TV                       681 non-null    object
 23  Streaming Movies                   681 non-null    object
 24  Streaming Music                    681 non-null    object
 25  Unlimited Data                     681 non-null    object
 26  Contract                           681 non-null    object
 27  Paperless Billing                  681 non-null    object
 28  Payment Method                     681 non-null    object
 29  Monthly Charge                     681 non-null    float64
 30  Total Charges                      681 non-null    float64
 31  Total Refunds                      681 non-null    float64
 32  Total Extra Data Charges           681 non-null    int64
 33  Total Long Distance Charges        681 non-null    float64
 34  Total Revenue                      681 non-null    float64
 35  Customer Status                    681 non-null    object
 36  Churn Category                     681 non-null    object
 37  Churn Reason                       681 non-null    object
dtypes: float64(9), int64(6), object(23)
memory usage: 207.5+ KB

In [34]:
Outliers are extreme values that differ significantly from the rest of the data.
They can distort your analysis, especially for columns like Monthly Charge, Total Charges, Total Revenue, etc.

0

In [40]:
df[['Monthly Charge', 'Total Charges', 'Total Revenue']].describe()

       Monthly Charge  Total Charges  Total Revenue
count      681.000000     681.000000     681.000000
mean        81.107930    1718.956388    2208.155947
std         19.731049    2036.681801    2606.179714
min         -9.000000      42.900000      46.920000
25%         70.800000     169.450000     233.920000
50%         84.200000     825.700000    1033.840000
75%         95.200000    2596.150000    3258.690000
max        116.200000    8127.600000   11084.840000

In [47]:
Q1 = df['Monthly Charge'].quantile(0.25)
Q3 = df['Monthly Charge'].quantile(0.75)
IQR = Q3 - Q1

df = df[(df['Monthly Charge'] >= (Q1 - 1.5 * IQR)) & 
        (df['Monthly Charge'] <= (Q3 + 1.5 * IQR))]

In [51]:
df[['Monthly Charge']].describe()

       Monthly Charge
count      673.000000
mean        82.159733
std         17.309485
min         42.900000
25%         71.100000
50%         84.500000
75%         95.350000
max        116.200000

In [45]:
df.rename(columns={'customerID': 'Customer_ID'}, inplace=True)