In [1]:
import pandas as pd

df=pd.read_csv(r"C:\Users\ASUS\Documents\DMV_praticals\Datasets\Real estate.csv");
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   No                                      414 non-null    int64
 1   X1 transaction date                     414 non-null    float64
 2   X2 house age                            414 non-null    float64
 3   X3 distance to the nearest MRT station  414 non-null    float64
 4   X4 number of convenience stores         414 non-null    int64
 5   X5 latitude                             414 non-null    float64
 6   X6 longitude                            414 non-null    float64
 7   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(2)
memory usage: 26.0 KB

In [3]:
df.columns = df.columns.str.replace(" ", "_")

In [5]:
df.rename(columns={
    "No": "Record_No",
    "X1_transaction_date": "Transaction_Date",
    "X2_house_age": "House_Age",
    "X3_distance_to_the_nearest_MRT_station": "Distance_to_MRT",
    "X4_number_of_convenience_stores": "Convenience_Stores",
    "X5_latitude": "Latitude",
    "X6_longitude": "Longitude",
    "Y_house_price_of_unit_area": "House_Price_Unit_Area"
}, inplace=True)

In [7]:
df.isnull().sum()

Record_No                0
Transaction_Date         0
House_Age                0
Distance_to_MRT          0
Convenience_Stores       0
Latitude                 0
Longitude                0
House_Price_Unit_Area    0
dtype: int64

In [9]:
df.head()

,Record_No,Transaction_Date,House_Age,Distance_to_MRT,Convenience_Stores,Latitude,Longitude,House_Price_Unit_Area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [11]:
df_filtered = df[df["Convenience_Stores"] > 5]
df_filtered.head()

,Record_No,Transaction_Date,House_Age,Distance_to_MRT,Convenience_Stores,Latitude,Longitude,House_Price_Unit_Area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
6,7,2012.667,34.5,623.47310,7,24.97933,121.53642,40.3
7,8,2013.417,20.3,287.60250,6,24.98042,121.54228,46.7
11,12,2013.333,6.3,90.45606,9,24.97433,121.54310,58.1

In [ ]:
⃣ Encode Categorical Variables

This dataset has no categorical variables, all are numerical — so encoding not needed.
(If there were categories like “Neighborhood”, you’d use one-hot or label encoding.)

In [18]:
avg_price_by_age = df.groupby("House_Age")["House_Price_Unit_Area"].mean()
avg_price_by_age.head()

House_Age
0.0    54.135294
1.0    50.700000
1.1    49.780000
1.5    48.700000
1.7    50.400000
Name: House_Price_Unit_Area, dtype: float64

In [20]:
Q1 = df["House_Price_Unit_Area"].quantile(0.25)
Q3 = df["House_Price_Unit_Area"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df["House_Price_Unit_Area"] < lower_bound) | (df["House_Price_Unit_Area"] > upper_bound)]
outliers

,Record_No,Transaction_Date,House_Age,Distance_to_MRT,Convenience_Stores,Latitude,Longitude,House_Price_Unit_Area
220,221,2013.333,37.2,186.5101,9,24.97703,121.54265,78.3
270,271,2013.333,10.8,252.5822,1,24.97460,121.53046,117.5
312,313,2013.583,35.4,318.5292,9,24.97071,121.54069,78.0

In [26]:
df.describe().round()

,Record_No,Transaction_Date,House_Age,Distance_to_MRT,Convenience_Stores,Latitude,Longitude,House_Price_Unit_Area
count,414.0,414.0,414.0,414.0,414.0,414.0,414.0,414.0
mean,208.0,2013.0,18.0,1084.0,4.0,25.0,122.0,38.0
std,120.0,0.0,11.0,1262.0,3.0,0.0,0.0,14.0
min,1.0,2013.0,0.0,23.0,0.0,25.0,121.0,8.0
25%,104.0,2013.0,9.0,289.0,1.0,25.0,122.0,28.0
50%,208.0,2013.0,16.0,492.0,4.0,25.0,122.0,38.0
75%,311.0,2013.0,28.0,1454.0,6.0,25.0,122.0,47.0
max,414.0,2014.0,44.0,6488.0,10.0,25.0,122.0,118.0