In [8]:
# Import required Python libraries for data analysis and modeling
import pandas as pd               # for handling data
import numpy as np                # for numerical calculations
import matplotlib.pyplot as plt   # for plotting graphs
import seaborn as sns             # for visualizing correlations
from sklearn.linear_model import LinearRegression, Ridge, Lasso   # regression models
from sklearn.model_selection import train_test_split               # split dataset
from sklearn.metrics import mean_squared_error, r2_score           # evaluation metrics
from sklearn.preprocessing import StandardScaler                   # data normalization

df=pd.read_csv(r"C:\Users\ASUS\Documents\Ml_prs\datasets\uber.csv");

In [12]:
# Show first few rows to understand data structure
print(df.head())

# Check data info and column types
print(df.info())

   Unnamed: 0                            key  fare_amount  \
0    24238194    2015-05-07 19:52:06.0000003          7.5
1    27835199    2009-07-17 20:04:56.0000002          7.7
2    44984355   2009-08-24 21:45:00.00000061         12.9
3    25894730    2009-06-26 08:22:21.0000001          5.3
4    17610152  2014-08-28 17:47:00.000000188         16.0

           pickup_datetime  pickup_longitude  pickup_latitude  \
0  2015-05-07 19:52:06 UTC        -73.999817        40.738354
1  2009-07-17 20:04:56 UTC        -73.994355        40.728225
2  2009-08-24 21:45:00 UTC        -74.005043        40.740770
3  2009-06-26 08:22:21 UTC        -73.976124        40.790844
4  2014-08-28 17:47:00 UTC        -73.925023        40.744085

   dropoff_longitude  dropoff_latitude  passenger_count
0         -73.999512         40.723217                1
1         -73.994710         40.750325                1
2         -73.962565         40.772647                1
3         -73.965316         40.803349                3
4         -73.973082         40.761247                5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB
None

In [14]:
#from -180째 (west) to +180째 (east).
#from -90째 (South Pole) to +90째 (North Pole).

In [16]:
# Remove any rows with missing values
df = df.dropna()

# Keep only valid latitude and longitude values
df = df[(df['pickup_latitude'].between(-90, 90)) &
        (df['pickup_longitude'].between(-180, 180)) &
        (df['dropoff_latitude'].between(-90, 90)) &
        (df['dropoff_longitude'].between(-180, 180))]

# Remove negative or zero fares
df = df[df['fare_amount'] > 0]